<h3>2024</h3>
<ul><li><b>Caneill, R.</b>, Roquet, F., &amp; Nycander, J.
(2024).
The southern ocean deep mixing band emerges from a competition between winter buoyancy loss and upper stratification strength.
<em>Ocean Science</em>, <em>20</em>(2), 601–619.
URL: <a href="https://os.copernicus.org/articles/20/601/2024/">https://os.copernicus.org/articles/20/601/2024/</a>, <a href="https://doi.org/10.5194/os-20-601-2024">doi:10.5194/os-20-601-2024</a></li></ul>
<h3>2022</h3>
<ul><li>Roquet, F., Ferreira, D., <b>Caneill, R.</b>, Schlesinger, D., &amp; Madec, G.
(2022 , November).
Unique thermal expansion properties of water key to the formation of sea ice on <span class="bibtex-protected">Earth</span>.
<em>Science Advances</em>, <em>8</em>(46).
URL: <a href="https://www.science.org/doi/10.1126/sciadv.abq0793">https://www.science.org/doi/10.1126/sciadv.abq0793</a>, <a href="https://doi.org/10.1126/sciadv.abq0793">doi:10.1126/sciadv.abq0793</a></li><li><b>Caneill, R.</b>, Roquet, F., Madec, G., &amp; Nycander, J.
(2022 , August).
The <span class="bibtex-protected">Polar</span> <span class="bibtex-protected">Transition</span> from <span class="bibtex-protected">Alpha</span> to <span class="bibtex-protected">Beta</span> <span class="bibtex-protected">Regions</span> <span class="bibtex-protected">Set</span> by a <span class="bibtex-protected">Surface</span> <span class="bibtex-protected">Buoyancy</span> <span class="bibtex-protected">Flux</span> <span class="bibtex-protected">Inversion</span>.
<em>Journal of Physical Oceanography</em>, <em>52</em>(8), 1887–1902.
URL: <a href="https://journals.ametsoc.org/view/journals/phoc/52/8/JPO-D-21-0295.1.xml">https://journals.ametsoc.org/view/journals/phoc/52/8/JPO-D-21-0295.1.xml</a>, <a href="https://doi.org/10.1175/JPO-D-21-0295.1">doi:10.1175/JPO-D-21-0295.1</a></li></ul>
<h3>2019</h3>
<ul><li>Picard, G., Arnaud, L., <b>Caneill, R.</b>, Lefebvre, E., &amp; Lamare, M.
(2019).
Observation of the process of snow accumulation on the <span class="bibtex-protected">Antarctic</span> <span class="bibtex-protected">Plateau</span> by time lapse laser scanning.
<em>The Cryosphere</em>, <em>13</em>(7), 1983–1999.
URL: <a href="https://tc.copernicus.org/articles/13/1983/2019/">https://tc.copernicus.org/articles/13/1983/2019/</a>, <a href="https://doi.org/10.5194/tc-13-1983-2019">doi:10.5194/tc-13-1983-2019</a></li></ul>